.rules-page-title {
  text-align: center;
}

.rules-page-text {
  font-size: 120%
}

@media (max-width: 525px) {
  .rules-page-content {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 526px) {
  .rules-page-content {
    max-width: 80%;
    margin: 0 auto;
  }
}